@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/resources/images/fond.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

#title {
    font-size: 4em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    display: inline;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container p {
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    margin-top: 100px;
}

.btns {
    background-color: #26465380;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    width: 250px;
    align-items: center;
}

.iconAccount {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 70px;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

/* Page accountView */
#generalContainerAccountView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7vh;
}

#leftContainerAccountView {
    width: 25%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btnBack {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding-top: 20px;
}

#titleAccountView {
    padding-left: 20px;
    font-weight: bold;
}

#infosUser {
    width: 100%;
    height: 85%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#infosUserHeader {
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: solid 1px rgba(0, 0, 0, 0.473);
    margin-left: 30px;
    margin-right: 30px;
}

#firstnameLastname {
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#rightContainerAccountView {
    width: 69%;
    height: 80vh;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

.iconBack {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.defaultAvatar {
    font-size: 150px;
    color: #2A9D8F;
}

#containerStatsDeco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}

.deconnectBtn {
    background-color: #B5446E;
    color: white;
    border-radius: 5px;
    padding: 15px 100px 15px 100px;
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
}

.statsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 50px;
}

.statsSubContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 100px;
}

.statsSubSubContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}

.nbStat {
    padding-left: 20px;
}

#games {
    font-size: 1.5em;
    font-weight: bold;
}

#wins {
    color: #00AD1C;
    font-size: 1.5em;
    font-weight: bold;
}

#losses {
    color: #EA0513;
    font-size: 1.5em;
    font-weight: bold;
}

#languesUserContainer {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.473);
    margin-left: 30px;
    margin-right: 30px;
}

#langs {
    width: 80%;
}

#languesTitle {
    font-weight: bold;
    padding-right: 10px;
}

#languesListe {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    flex-wrap: wrap;
    height: 100px;
}

#languesListe span {
    padding-bottom: 5px;
    padding-right: 30px;
}

#titleAccountInfo {
    font-weight: bold;
    font-size: 1.6em;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.473);
}

#containerAccountInfoUser {
    border-bottom: solid 1px rgba(0, 0, 0, 0.473);
    display: flex;
    flex-direction: column;
}

#accountInfoUserTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.defaultAvatarModify {
    font-size: 100px;
    color: #2A9D8F;
}

.titleChamps {
    font-size: 1.2em;
    padding-bottom: 10px;
}

#profilePicContainer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#profileInfoContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.subBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.inputContainer {
    min-width: 500px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.inputContainer input {
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.473);
    padding: 10px;
}

#addLangBtn {
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 1em;
    align-self: center;
    cursor: pointer;
    width: 10%;
    margin-left: 20px;
}

#addLangBtn:hover {
    background-color: rgb(187, 187, 187);
}

#containerBottomItems {
    display: flex;
    flex-direction: row;
}

#langBlock {
    padding: 20px;
    min-width: 500px;
    width: 70%;
}

#tagsContainer {
    display: flex;
    flex-wrap: wrap;
}

.tagLang {
    background-color: #2A9D8F;
    color: white;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

#imgClose {
    height: 15px;
    padding-left: 5px;
}

#btnsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

#btnSave {
    background-color: #2A9D8F;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
    border: none;
    cursor: pointer;
    width: 80%;
}

#btnCancel {
    background-color: #B5446E;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    width: 80%;
}

/* PAGE modale */

.xrapper {
    height: 100%;
    padding: 5rem;
    display: flex;
    box-sizing: border-box;

}

.warning {
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    min-width: 20%;
    background-color: #00000040;
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.warning p {
    margin: 0;
    padding: 0.50rem 0;
    font-family: "Inter";
    color: #eeeeee;
}

.warning h4 {
    margin: 0;
    padding: 0.50rem 0;
    font-family: "Inter";
    color: #eeeeee;
}

.content {
    padding-left: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content h1 {
    font-family: "Inter", sans-serif;
    color: white;
}

.content-modal {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}

@media all and (max-width: 800px) {
    .xrapper {
        padding: 1rem;
    }
}

.separation {
    display: flex;
    align-items: center;
    font-family: "Inter";
    color: #f2ebf2;
}

.separation h2 {
    font-size: 1em;
}

/* MODALES */
#footerModalCreerJeu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btnFooterModal {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    height: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

#annulerBtn {
    background-color: #2A9D8F;
}

#validerBtn {
    background-color: #2A9D8F;
}

.afficherModaleBtn {
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 1em;
    height: 50px;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}

#btnsModale {
    display: flex;
    flex-direction: column;
}

/* Modale créer jeu */
#modaleCreerJeuDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#formCreerJeuDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.ligneDiv {
    display: flex;
    flex-direction: row;
    height: 45px;
}

.ligneSubDivLeft {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ligneSubDivRight {
    width: 75%;
}

#themeTextDiv {
    display: flex;
    flex-direction: column;
}

#groupeLanguesSelect {
    width: 25%;
}

#equipesLanguesSelect {
    width: 25%;
}

.textModale1 {
    font-weight: bold;
}


/* Modale créer equipe */
#formSigningContainer {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: center;
    height: 100vh;
}

#formSignIn {
    display: flex;
    flex-direction: column;
    background-color: #1d353fa4;
    border-radius: 6px;
    padding: 40px;
    width: 250px;
    margin-right: 30px;
    margin-top: 150px;
}

.displayNone {
    visibility: hidden;
}

#formSignUp {
    display: flex;
    flex-direction: column;
    background-color: #1d353fa4;
    border-radius: 6px;
    padding: 40px;
    margin-top: 150px;
    width: 400px;
}

#formSignIn label {
    color: white;
    padding-top: 30px;
}

#formSignIn input {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

#formSignUp input {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

#formSignUp label {
    color: white;
    padding-top: 30px;
}

.titleFormSign {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.validerBtnSign {
    font-weight: bold;
    border: none;
    margin-top: 20px;

}

#containerDetailAlign {
    background-color: #F1F1F1;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 150px;
}

#headerDetailAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    border-bottom: solid 1px rgba(0, 0, 0, 0.473);
}

#headerDetailAlign > .defaultAvatar {
    font-size: 40px;
    padding: 5px;
}

#contentDetailAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.titleDetailAlign {
    font-size: 0.9em;
    font-weight: 500;
}

.titleDetailAlign > div {
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    padding: 2px;
}