.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  gap: 15px;
}
.col1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
}
.col2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
}

.minimap {
  background-color: #edecec;
  width: 97%;
  height: 45%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pays {
  background-color: #2a9d8f;
  width: 97%;
  height: 6%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-deroulant {
  background-color: #edecec;
  width: 97%;

  height: 45%;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  background-color: #fff;
  width: 100%;
  height: 10%;
  display: flex;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
}
.search-bar input {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.map {
  background-color: #75CFF0;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#map_inner a {
  display: none !important;
}
.choix-sens {
  background-color: #eee;
  width: 100%;
  height: 7%;
}
.pays p {
  margin: 0;
  font-size: 2.5em;
}
