.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  gap: 15px;
}

.col1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
}

.col2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
}

.minimap {
  background-color: #edecec;
  width: 97%;
  height: 45%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pays {
  background-color: #2a9d8f;
  width: 97%;
  height: 6%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-deroulant {
  background-color: #575757;
  width: 97%;

  height: 45%;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-bar {
  background-color: #fff;
  width: 100%;
  height: 10%;
  display: flex;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.map {
  background-color: #edecec;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choix-sens {
  background-color: #eee;
  width: 100%;
  height: 7%;
}

.pays p {
  margin: 0;
  font-size: 2.5em;
}

.minimap {
  height: 200px;
  /* Hauteur de la div minimap (ajustez selon vos besoins) */
  overflow: auto;
}

.scrolling-list {
  list-style-type: none;
  /* Masquer les puces */
  padding: 20px;
}

.menu-deroulant .center {
  justify-content: center;
  color: black;
  font-size: 10px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-family: "Signika", sans-serif;
}

.scrolling-list li {
  color: black;
  /* Couleur de texte par défaut */
  transition: color 0.3s;
  /* Animation de transition pour le changement de couleur */
  padding: 20px;

}



.scrolling-list li:hover {
  color: #aa34d3;
}