@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
body {
    background-image: url("/assets/fond.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

#title {
     font-size: 4em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    display: inline;
    margin-top: 200px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p {
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    margin-top: 100px;
    
}

.btns {
    background-color: #26465380;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    width: 230px;
    align-items: center;
    margin-top: 120px;
}

.btns button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 8px;
    padding: 15px;
    background-color: white;
    width: 230px;
    cursor: pointer;

}

.material-symbols-outlined {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 70px;
    cursor: pointer;
      font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
