@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("../assets/fond.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

#title {
  font-size: 4em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Signika", sans-serif;
}

.container p {
  color: white;
  font-family: "Signika", sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: 300;
}
