<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Languizz</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="/styles/styles.css" rel="stylesheet">
</head>

<body>
    <!-- Container général -->
    <div id="generalContainerAccountView">
        <!-- Container partie gauche -->
        <div id="leftContainerAccountView">
            <!-- Container titre + icone retour -->
            <div>
                <a id="btnBack" href="/view/homeView.html">
                    <span class="material-symbols-outlined iconBack">
                        arrow_back
                    </span>
                    <div id="titleAccountView">Profil Utilisateur</div>
                </a>
            </div>
            <!-- Container infos principales -->
            <div id="infosUser">
                <!-- Photo de profil + Nom/prénom -->
                <div id="infosUserHeader">
                    <span class="material-symbols-outlined defaultAvatar">
                        account_circle
                    </span>
                    <span>Nom Prénom</span>
                </div>
                <!-- Langues de l'utilisateur -->
                <div>

                </div>
                <!-- Statistiques de parties -->
                <div>
                    <!-- Bouton déconnexion -->
                    <a>Déconnexion</a>
                </div>
            </div>
        </div>
        <!-- Container partie droite -->
        <div id="rightContainerAccountView"></div>
    </div>

</body>

</html>