<div id="dialogModal">

    <div id="modaleCreerJeu">
        <!-- Page -->
        <div>
            <div>
                <span>Titre du jeu</span>
                <!-- <input > -->
            </div>
            <div>
                <span>Thèmes</span>
                <!-- select -->
            </div>
            <div>
                <span>Groupe de langues</span>
                <!-- select -->
            </div>
            <div>
                <span>Equipes</span>
                <!-- select -->
            </div>
        </div>
        <!-- Footer (btns) -->
        <div>
            <a class="annulerBtn">Annuler</a>
            <a class="creerJeuBtn">Créer jeu</a>
        </div>
    </div>

    <!-- <div id="mdoaleCreerEquipe">
        
    </div>
    
    <div id="modaleHistoriquePartie">
        
    </div> -->

</div>




<style>
    .dialogModal {}

    .modaleCreerJeu {
        background-color: #73AD21;
    }

    #annulerBtn {}

    #creerJeuBtn {}
</style>