<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Languizz</title>
    <link href="/styles/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 id="title">Languizz</h1>
        <p>Discover the world and its languages</p>
        <div class="btns">
            <button>Alignements</button>
            <button>Carte</button>
        </div>
    </div>
</body>

</html>