<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Languizz</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/styles/styles.css" rel="stylesheet">
</head>

<body>
    <a href="/view/accountView.html">
        <span class="material-symbols-outlined iconAccount">
            account_circle
        </span>
    </a>
    <div class="container">
        <h1 id="title">Languizz</h1>
        <p>Découvrez le monde et ses langages</p>

        <div class="btns">
            <button>Alignements</button>
            <button>Carte</button>
            <button>Ajouter une expression</button>
        </div>
    </div>

</body>

</html>