<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Languizz</title>
    <link href="/styles/styles.css" rel="stylesheet">
</head>

<body>
    <div class="xrapper">
        <div class="warning">
            <div class="separation">
                <h2>Wsh mon Kho MaMeyne !</h2>
                <button>
                    <span>Admin
                    </span>
                </button>
            </div>  
            <p>A vous d'organiser le jeu</p>
            <p>Gestion d'une partie</p>
        </div>
        <div class="content">
            <h1>Titre Modale</h1>
            <div class="content-modal">
                Test
            </div>
        </div>
    </div> 
</body>

</html>